html, body {
    height: 100%;
}

body {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    background-color:cornsilk;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    background-color: #3e0;
    padding: 0;
    margin: 0;

}